

.result-box{
    background-color: #FCDEBE;
    width: 700px;
    height: 350px;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 100;
}

.close-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    height: 30px;
    margin: 2px;
}

.result-content {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.result-title {
    color: #0A2239;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-weight: 500;
}

.prec-icon {
    height: 110px;
}

.result-value {
    color: #0CF;
text-align: center;
font-family: Inter;
font-size: 45px;
font-weight: 700;

}