.header {
    display: flex;
    align-items: flex-start;
    background: #00ccff;
    max-height: 75px;
}

h2 {
    color: white;
    padding-left: 10px;

}

.header-logo {
    margin: 10px;
    height: 50px;
    padding-left: 20px;
}